adf/pipeline/PL_Master_Orchestrator.json
{
	"name": "PL_Master_Orchestrator",
	"properties": {
		"activities": [
			{
				"name": "Lookup_Active_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[control].[sp_GetTableLoadOrder]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_ControlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_Table",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_Active_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_Active_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Check_Load_Type",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(item().initial_load_completed, false)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Execute_Incremental_CDC",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_Incremental_CDC_Single_Table",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"table_metadata": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Execute_Initial_Load",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"policy": {
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "PL_Initial_Load_Single_Table",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"table_metadata": {
													"value": "@item()",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2025-01-01T00:00:00Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}